html
  head
    title Blog System
    link(href="/css/site.css" rel="stylesheet")
  body
    .container
      ul.menu
        li
          a(href="/") Home
        li
          a(href="/about") About
      block main-content

