extends ../shared/layout

block main-content
  if error
    .alert.alert-dismissible.alert-danger
      button.close(type='button', data-dismiss='alert') ×
      strong Oh snap!
      a.alert-link(href='#') Change a few things up
      |  and try submitting again.

  form.form-horizontal
    fieldset
      legend Register
      .form-group
        label.col-lg-2.control-label(for='inputEmail') Username
        .col-lg-10
          input#inputEmail.form-control(type='text', placeholder='Email', name='username' value=username)
      .form-group
        label.col-lg-2.control-label(for='inputPassword') Password
        .col-lg-10
          input#inputPassword.form-control(type='password', placeholder='Password', name='password')
      .form-group
        label.col-lg-2.control-label(for='inputPassword') Repeat Password
        .col-lg-10
          input#inputPassword.form-control(type='password', placeholder='Password', name='repeatedPassword')
      .form-group
        .col-lg-10.col-lg-offset-2
          button.btn.btn-default(type='reset') Cancel
          button.btn.btn-primary(type='submit') Submit
