<div class="list-group">
    <div class="list-group-item">
        <a class="btn btn-outline-danger btn-lg" href="/cart/remove?id={5}">X</a>
        <div class="media col-3">
            <figure class="pull-left">
                <a href="#">
                    <img class="card-image-top img-fluid img-thumbnail"
                         onerror="this.src = 'https://img.youtube.com/vi/{0}/0.jpg';"
                         src="{1}">
                </a>
            </figure>
        </div>
        <div class="col-md-6">
            <a href="/games/details?id={5}"><h4 class="list-group-item-heading"> {2} </h4></a>
            <p class="list-group-item-text">
                {3}
            </p>
        </div>
        <div class="col-md-2 text-center mr-auto">
            <h2> {4}&euro; </h2>
        </div>
    </div>

</div>