<main>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">

                <h1 class="display-3">{1}</h1>
                <br />

                <iframe width="560" height="315" src="https://www.youtube.com/embed/{0}" frameborder="0"
                        allowfullscreen></iframe>

                <br />
                <br />

                <p>
                    {2}
                </p>

                <p><strong>Price</strong> - {3}&euro;</p>
                <p><strong>Size</strong> - {4} GB</p>
                <p><strong>Release Date</strong> - {5}</p>

                <a class="btn btn-outline-primary"  href="/home/index">Back</a>
                <a class="btn btn-warning" href="/games/edit?id={6}">Edit</a>
                <a class="btn btn-danger"  href="/games/delete?id={6}">Delete</a>
                <a class="btn btn-primary" href="/cart/add?id={6}">Buy</a>

                <br />
                <br />

            </div>
        </div>
    </div>
</main>