@{
    ViewBag.Title = "To do list";
}
<ul>
    @model List<string>
    @for (int index = 0; index < Model.Count; index++)
    {
        <li>
            @Model[index];
            @Html.ActionLink("[Delete]", "RemoveItem", new { index });
        </li>
    }
</ul>


<form action="/Home/AddItem" method="post">
    <div>Add item to list:</div>
    <input type="text" autofocus name="newItem" />
    <input type="submit" />
</form>