<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    div.wrapper
        div.title= post.title
        div.author= post.author
        div.date= post.date
        div.content= post.content
body
    