<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>
    <form method="POST">
        <label>Author</label>
        <input type="text" name="author" placeholder="Author">
        <br>
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
        <br>
        <label>Content</label>
        <input type="text" name="content" placeholder="Content">
        </br>
        <input type="submit" value="Create">
    </form>
</body>
</html>